*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 1vh;
}

.header{
    display: flex;
    justify-content: space-between;
    padding:20px 30px;
    align-items: center;
}

.header a{
    margin-right:20px;
    text-decoration: none;
    color:rgba(0,0,0,0.87);
    font-size: 15px;
}

.header a:hover{
    text-decoration: underline;
}

.header_right{
    display: flex;
    align-items: center;
    min-width: 13vw;
}

.mainBody{
    flex: 1;
    display: flex;
    margin-top:12%;
    flex-direction: column;
}

.mainBody img{
    object-fit: contain;
    height:100px;
}

.search_input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height:30px;
    padding:10px 20px;
    border-radius: 999px;
    width:75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}

.search_input input{
    flex:1;
    border: none;
    padding: 5px 10px;
    outline: none;
}
.search_btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.search_btn button{
    margin-top:5px;
    margin-right: 20px;
    padding: 5px 10px;
    background-color:#f8f8f8;
    outline: none;
    border: none;
    cursor: pointer;
}