body
		{
			margin: 0px;
			padding: 0px;	
		}
		#google_logo
		{
			margin-top: 15%;
			text-align: center;
		}
		table
		{
			width: 90%;
			margin-left: 5%;
		}
		td
		{
			text-align: center;
		}
	
		#copyright
		{
			text-align: center;
		}
		#search_buttons
		{
			text-align: center;
			background-color: rgb(238,238,238);
		}
		input
		{
			width: 20%;
		}
		a
		{
			color: blue;
		}
		#google_search
		{
			display: block;
			text-align: center;
			margin: auto;
			width: 90%;
			background-color: rgb(238,238,238);
		}
		#search, #updates
		{
			width: 40%;
			text-align: center;
			background-color: rgb(126,229,218);
		}
		#help
		{
			width: 15%;
			text-align: center;
			background-color: rgb(126,229,218);
		}